<header class="navbar navbar-dark sticky-top bg-warning flex-md-nowrap  shadow">

    <a class="col-md-3 col-lg-2 me-0 px-3"  style="text-decoration: none;" href=/super-admin >
      <h2>
        بهنید
      </h2>
    </a>

    <button class="navbar-toggler position-absolute d-md-none collapsed sf-hidden" type=button data-bs-toggle=collapse data-bs-target=#sidebarMenu aria-controls=sidebarMenu aria-expanded=false aria-label="عرض/إخفاء لوحة التنقل"></button>
   
    <div class=navbar-nav>
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href=#>
          <h1>
            <i class="bi bi-x-octagon"></i>
          </h1>
        </a>
      </div>
    </div>


</header>